node_modules/
*~
.idea/
.project
.settings/
Thumbs.db
npm-debug.log
yarn-error.log

!.gitkeep

lib/
dist/
test/__output
*.tgz

# yarn 3
.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions